# Configs gerais DB
PORT=3000
DB_HOST=db
DB_PORT=5432
DB_USER=root
DB_PASS=rootpassword
DB_NAME=saas_odonto

# Resend API (Envio de Emails)
RESEND_API_KEY=your_resend_api_key_here

# Prisma Database URL
DATABASE_URL="postgresql://root:rootpassword@db:5432/saas_odonto?schema=public"

# Google OAuth (Login Social)
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Stripe (Pagamentos)
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_PUBLIC_KEY=your_stripe_public_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
STRIPE_PRICE_PRO_MONTHLY=
STRIPE_PRICE_PRO_ANNUAL=
STRIPE_PRICE_ULTRA_MONTHLY=
STRIPE_PRICE_ULTRA_ANNUAL=

# Auth
JWT_SECRET=super_secret_jwt_key_for_saas_odonto_mvp

# URLs de Ambiente (Essenciais para CORS e Redirecionamentos)
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000

# Meta WhatsApp Cloud API (Motor Principal do App)
META_PHONE_ID=your_meta_phone_id_here
META_ACCESS_TOKEN=your_meta_access_token_here
META_VERIFY_TOKEN=toothify_secret_token
